/* src/pages/Dashboard.css */

.dashboard-container {
  max-width: 600px;
  margin: 50px auto;
  background: #fff0fa;
  border: 3px dashed #ffaad4;
  border-radius: 20px;
  padding: 40px;
  text-align: center;
  box-shadow: 0 0 20px #f57dbb;
}

h2 {
  color: #d63384;
  font-size: 2rem;
  margin-bottom: 20px;
}

input,
textarea {
  width: 90%;
  padding: 12px;
  margin: 10px 0;
  border: 2px solid #ffb3d1;
  border-radius: 15px;
  background-color: #fff9fc;
  font-size: 1.2rem;
  font-weight: 700;
  box-shadow: inset 0 0 5px #ffe3ef;
  font-family: "Indie Flower", cursive;
}

textarea {
  height: 120px;
  resize: none;
  font-family: "Indie Flower", cursive;
}

button {
  background-color: #ff8fb2;
  color: white;
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  margin: 10px 5px;
  cursor: pointer;
  font-size: 1.7rem;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
  font-family: "Indie Flower", cursive;
}

button:hover {
  background-color: #ff6c9c;
  transform: scale(1.05);
}

p {
  margin-top: 15px;
  color: #a83265;
  font-weight: bold;
}


input::placeholder,
textarea::placeholder {
  font-style: italic;
  color: #c76992;
}


.header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  gap: 1.5rem;
}

.logout-button {
  background-color:  #d63384;;
  color: white;
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1rem;
  transition: all 0.2s ease-in-out;
}

.logout-button:hover {
  background-color: #ff6c9c;
  transform: scale(1.05);
}


/* Even smaller devices like phones */
@media (max-width: 480px) {
  .dashboard-container {
    max-width: 95%;
    padding: 20px 15px;
    margin: 20px auto;
  }

  input,
  textarea {
    font-size: 1rem;
    padding: 12px;
  }

  button,
  .logout-button {
    font-size: 1rem;
    padding: 12px 20px;
  }

  h2 {
    font-size: 1.3rem;
  }
}